esb_am/repo/WS_GEST_PROMO_ALE/wsdl/WS_GEST_PROMO_ALE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_GEST_PROMO_ALE.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opExecute_GetPromoAll"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opExecute_GetPromoAllResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opExecute_GetPromoAllRequest"> 
  <wsdl:part element="eb:opExecute_GetPromoAll" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opExecute_GetPromoAllResponse"> 
  <wsdl:part element="eb:opExecute_GetPromoAllResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GEST_PROMO_ALESoap"> 
  <wsdl:operation name="opExecute_GetPromoAll"> 
   <wsdl:input message="eb:opExecute_GetPromoAllRequest" name="opExecute_GetPromoAllRequest" /> 
   <wsdl:output message="eb:opExecute_GetPromoAllResponse" name="opExecute_GetPromoAllResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GEST_PROMO_ALESoap" type="eb:WS_GEST_PROMO_ALESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opExecute_GetPromoAll"> 
   <soap:operation soapAction="WS_GEST_PROMO_ALE/opExecute_GetPromoAll" style="document" /> 
   <wsdl:input name="opExecute_GetPromoAllRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opExecute_GetPromoAllResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GEST_PROMO_ALE"> 
  <wsdl:port binding="eb:WS_GEST_PROMO_ALESoap" name="WS_GEST_PROMO_ALESoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_GEST_PROMO_ALE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>