esb_am/repo/WS_SCMS_EXECUTE_QRYDEV/wsdl/WS_SCMS_EXECUTE_QRYDEV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestQRYDEV"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="customerid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="deviceid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="deviceuuid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="devicetype" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="alldevices" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="history" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="historystart" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseQRYDEV"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="devices" type="eb:t_devices" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="devicehistory" type="eb:t_devicehistory" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_devices"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="device" type="eb:t_device" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_device"> 
    <xsd:sequence> 
     <xsd:element name="type" type="xsd:string" /> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="uuid" type="xsd:string" /> 
     <xsd:element name="status" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        A=Attivo / C=Cessato
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element name="insert_date" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element name="last_reset_date" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element name="last_mod_date" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element name="last_trans_id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="friendly_name" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="brand" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="model" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_devicehistory"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="eb:t_devicehistoryitem" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_devicehistoryitem"> 
    <xsd:sequence> 
     <xsd:element name="type" type="xsd:string" /> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="uuid" type="xsd:string" /> 
     <xsd:element name="status" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        A=Attivo / C=Cessato
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="friendly_name" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="brand" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="model" type="xsd:string" /> 
     <xsd:element name="trans_id" type="xsd:string" /> 
     <xsd:element name="caller_id" type="xsd:string" /> 
     <xsd:element name="action_code" type="xsd:string" /> 
     <xsd:element name="action_date" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element name="notes" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opQRYDEV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestQRYDEV" type="eb:requestQRYDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opQRYDEVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseQRYDEV" type="eb:responseQRYDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opQRYDEVRequest"> 
  <wsdl:part element="eb:opQRYDEV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opQRYDEVResponse"> 
  <wsdl:part element="eb:opQRYDEVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_QRYDEVSoap"> 
  <wsdl:operation name="opQRYDEV"> 
   <wsdl:input message="eb:opQRYDEVRequest" name="opQRYDEVRequest" /> 
   <wsdl:output message="eb:opQRYDEVResponse" name="opQRYDEVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_QRYDEVSoap" type="eb:WS_SCMS_EXECUTE_QRYDEVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opQRYDEV"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_QRYDEV/opQRYDEV" style="document" /> 
   <wsdl:input name="opQRYDEVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opQRYDEVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_QRYDEV"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_QRYDEVSoap" name="WS_SCMS_EXECUTE_QRYDEVSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_QRYDEV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>