esb_am/repo/TEST-SIEBELCPLX/wsdl/TEST-SIEBELCPLX.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="questions"> 
    <xsd:sequence> 
     <xsd:element name="question"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="siebel_request"> 
    <xsd:sequence> 
     <xsd:element name="name"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="surname"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:int" /> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="questions" type="eb:questions" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="siebel_response"> 
    <xsd:sequence> 
     <xsd:element name="name"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element maxOccurs="2" minOccurs="2" name="surname"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_TEST_SIEBEL_CPLX"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SIEBEL_REQUEST" type="eb:siebel_request" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_TEST_SIEBEL_CPLXResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SIEBEL_REPLY" type="eb:siebel_response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_TEST_SIEBEL_CPLXRequest"> 
  <wsdl:part element="eb:OP_TEST_SIEBEL_CPLX" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_TEST_SIEBEL_CPLXResponse"> 
  <wsdl:part element="eb:OP_TEST_SIEBEL_CPLXResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="TEST-SIEBELCPLXSoap"> 
  <wsdl:operation name="OP_TEST_SIEBEL_CPLX"> 
   <wsdl:input message="eb:OP_TEST_SIEBEL_CPLXRequest" name="OP_TEST_SIEBEL_CPLXRequest" /> 
   <wsdl:output message="eb:OP_TEST_SIEBEL_CPLXResponse" name="OP_TEST_SIEBEL_CPLXResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="TEST-SIEBELCPLXSoap" type="eb:TEST-SIEBELCPLXSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_TEST_SIEBEL_CPLX"> 
   <soap:operation soapAction="TEST-SIEBELCPLX/OP_TEST_SIEBEL_CPLX" style="document" /> 
   <wsdl:input name="OP_TEST_SIEBEL_CPLXRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_TEST_SIEBEL_CPLXResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="TEST-SIEBELCPLX"> 
  <wsdl:port binding="eb:TEST-SIEBELCPLXSoap" name="TEST-SIEBELCPLXSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/TEST-SIEBELCPLX" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>