esb_am/repo/WS_TELECOM_ABILITA_ACQUISTO_PPV/wsdl/WS_TELECOM_ABILITA_ACQUISTO_PPV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opOppvTelecomPurchase"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_REF_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_BCDATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PHONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PIN" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opOppvTelecomPurchaseResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PRICE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ORIGINAL_PRICE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PROMO_CATALOG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PROMO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opOppvTelecomPurchaseRequest"> 
  <wsdl:part element="eb:opOppvTelecomPurchase" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opOppvTelecomPurchaseResponse"> 
  <wsdl:part element="eb:opOppvTelecomPurchaseResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TELECOM_ABILITA_ACQUISTO_PPVSoap"> 
  <wsdl:operation name="opOppvTelecomPurchase"> 
   <wsdl:input message="eb:opOppvTelecomPurchaseRequest" name="opOppvTelecomPurchaseRequest" /> 
   <wsdl:output message="eb:opOppvTelecomPurchaseResponse" name="opOppvTelecomPurchaseResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TELECOM_ABILITA_ACQUISTO_PPVSoap" type="eb:WS_TELECOM_ABILITA_ACQUISTO_PPVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opOppvTelecomPurchase"> 
   <soap:operation soapAction="WS_TELECOM_ABILITA_ACQUISTO_PPV/opOppvTelecomPurchase" style="document" /> 
   <wsdl:input name="opOppvTelecomPurchaseRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opOppvTelecomPurchaseResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TELECOM_ABILITA_ACQUISTO_PPV"> 
  <wsdl:port binding="eb:WS_TELECOM_ABILITA_ACQUISTO_PPVSoap" name="WS_TELECOM_ABILITA_ACQUISTO_PPVSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_iptv_telecom/WS_TELECOM_ABILITA_ACQUISTO_PPV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>