esb_am/repo/WS_DECODER_ONOFF/wsdl/WS_DECODER_ONOFF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="DECODER_ONOFF"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMARTCARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="FLAG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_UTENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="DECODER_ONOFFResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="DECODER_ONOFFRequest"> 
  <wsdl:part element="eb:DECODER_ONOFF" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="DECODER_ONOFFResponse"> 
  <wsdl:part element="eb:DECODER_ONOFFResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_DECODER_ONOFFSoap"> 
  <wsdl:operation name="DECODER_ONOFF"> 
   <wsdl:input message="eb:DECODER_ONOFFRequest" name="DECODER_ONOFFRequest" /> 
   <wsdl:output message="eb:DECODER_ONOFFResponse" name="DECODER_ONOFFResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_DECODER_ONOFFSoap" type="eb:WS_DECODER_ONOFFSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="DECODER_ONOFF"> 
   <soap:operation soapAction="WS_DECODER_ONOFF/DECODER_ONOFF" style="document" /> 
   <wsdl:input name="DECODER_ONOFFRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="DECODER_ONOFFResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_DECODER_ONOFF"> 
  <wsdl:port binding="eb:WS_DECODER_ONOFFSoap" name="WS_DECODER_ONOFFSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_DECODER_ONOFF" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>