esb_am/repo/WS_LEGGI_DESCRIZ_ERRORE/wsdl/WS_LEGGI_DESCRIZ_ERRORE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="LEGGI_DESCRIZ_ERRORE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_ERROR_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_ERROR_TYPE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="LEGGI_DESCRIZ_ERROREResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_ERROR_DESCR" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="LEGGI_DESCRIZ_ERRORERequest"> 
  <wsdl:part element="eb:LEGGI_DESCRIZ_ERRORE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="LEGGI_DESCRIZ_ERROREResponse"> 
  <wsdl:part element="eb:LEGGI_DESCRIZ_ERROREResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_DESCRIZ_ERRORESoap"> 
  <wsdl:operation name="LEGGI_DESCRIZ_ERRORE"> 
   <wsdl:input message="eb:LEGGI_DESCRIZ_ERRORERequest" name="LEGGI_DESCRIZ_ERRORERequest" /> 
   <wsdl:output message="eb:LEGGI_DESCRIZ_ERROREResponse" name="LEGGI_DESCRIZ_ERROREResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_DESCRIZ_ERRORESoap" type="eb:WS_LEGGI_DESCRIZ_ERRORESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="LEGGI_DESCRIZ_ERRORE"> 
   <soap:operation soapAction="WS_LEGGI_DESCRIZ_ERRORE/LEGGI_DESCRIZ_ERRORE" style="document" /> 
   <wsdl:input name="LEGGI_DESCRIZ_ERRORERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="LEGGI_DESCRIZ_ERROREResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_DESCRIZ_ERRORE"> 
  <wsdl:port binding="eb:WS_LEGGI_DESCRIZ_ERRORESoap" name="WS_LEGGI_DESCRIZ_ERRORESoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_LEGGI_DESCRIZ_ERRORE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>