esb_am/repo/WS_AOL_GET_LISTA_TV/wsdl/WS_AOL_GET_LISTA_TV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opGetListaTV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetListaTVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetListaTVRequest"> 
  <wsdl:part element="eb:opGetListaTV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetListaTVResponse"> 
  <wsdl:part element="eb:opGetListaTVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_GET_LISTA_TVSoap"> 
  <wsdl:operation name="opGetListaTV"> 
   <wsdl:input message="eb:opGetListaTVRequest" name="opGetListaTVRequest" /> 
   <wsdl:output message="eb:opGetListaTVResponse" name="opGetListaTVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_GET_LISTA_TVSoap" type="eb:WS_AOL_GET_LISTA_TVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetListaTV"> 
   <soap:operation soapAction="WS_AOL_GET_LISTA_TV/opGetListaTV" style="document" /> 
   <wsdl:input name="opGetListaTVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetListaTVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_GET_LISTA_TV"> 
  <wsdl:port binding="eb:WS_AOL_GET_LISTA_TVSoap" name="WS_AOL_GET_LISTA_TVSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_AOL_GET_LISTA_TV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>