esb_am/repo/WS_SCMS_EXECUTE_QRYSLT/wsdl/WS_SCMS_EXECUTE_QRYSLT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestQRYSLT"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="customerid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="devicetype" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseQRYSLT"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="freeslot" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="bustslot" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opQRYSLT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestQRYSLT" type="eb:requestQRYSLT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opQRYSLTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseQRYSLT" type="eb:responseQRYSLT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opQRYSLTRequest"> 
  <wsdl:part element="eb:opQRYSLT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opQRYSLTResponse"> 
  <wsdl:part element="eb:opQRYSLTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_QRYSLTSoap"> 
  <wsdl:operation name="opQRYSLT"> 
   <wsdl:input message="eb:opQRYSLTRequest" name="opQRYSLTRequest" /> 
   <wsdl:output message="eb:opQRYSLTResponse" name="opQRYSLTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_QRYSLTSoap" type="eb:WS_SCMS_EXECUTE_QRYSLTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opQRYSLT"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_QRYSLT/opQRYSLT" style="document" /> 
   <wsdl:input name="opQRYSLTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opQRYSLTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_QRYSLT"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_QRYSLTSoap" name="WS_SCMS_EXECUTE_QRYSLTSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_QRYSLT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>