esb_am/repo/IsEnabledEOW/wsdl/IsEnabledEOW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="EOW_CHECK_SC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="EOW_CHECK_SCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ENABLED" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="EOW_CHECK_SCRequest"> 
  <wsdl:part element="eb:EOW_CHECK_SC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="EOW_CHECK_SCResponse"> 
  <wsdl:part element="eb:EOW_CHECK_SCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="IsEnabledEOWSoap"> 
  <wsdl:operation name="EOW_CHECK_SC"> 
   <wsdl:input message="eb:EOW_CHECK_SCRequest" name="EOW_CHECK_SCRequest" /> 
   <wsdl:output message="eb:EOW_CHECK_SCResponse" name="EOW_CHECK_SCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="IsEnabledEOWSoap" type="eb:IsEnabledEOWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="EOW_CHECK_SC"> 
   <soap:operation soapAction="IsEnabledEOW/EOW_CHECK_SC" style="document" /> 
   <wsdl:input name="EOW_CHECK_SCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="EOW_CHECK_SCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="IsEnabledEOW"> 
  <wsdl:port binding="eb:IsEnabledEOWSoap" name="IsEnabledEOWSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/IsEnabledEOW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>