esb_am/repo/WS_ACT_SKY_PASS_SMC/wsdl/WS_ACT_SKY_PASS_SMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="ACT_SKY_PASS_SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_NUM_SMC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ACT_SKY_PASS_SMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_MSG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ACT_SKY_PASS_SMCRequest"> 
  <wsdl:part element="eb:ACT_SKY_PASS_SMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ACT_SKY_PASS_SMCResponse"> 
  <wsdl:part element="eb:ACT_SKY_PASS_SMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ACT_SKY_PASS_SMCSoap"> 
  <wsdl:operation name="ACT_SKY_PASS_SMC"> 
   <wsdl:input message="eb:ACT_SKY_PASS_SMCRequest" name="ACT_SKY_PASS_SMCRequest" /> 
   <wsdl:output message="eb:ACT_SKY_PASS_SMCResponse" name="ACT_SKY_PASS_SMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ACT_SKY_PASS_SMCSoap" type="eb:WS_ACT_SKY_PASS_SMCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ACT_SKY_PASS_SMC"> 
   <soap:operation soapAction="WS_ACT_SKY_PASS_SMC/ACT_SKY_PASS_SMC" style="document" /> 
   <wsdl:input name="ACT_SKY_PASS_SMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ACT_SKY_PASS_SMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ACT_SKY_PASS_SMC"> 
  <wsdl:port binding="eb:WS_ACT_SKY_PASS_SMCSoap" name="WS_ACT_SKY_PASS_SMCSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_ACT_SKY_PASS_SMC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>