esb_am/repo/WS_TUXSRV_ALE/wsdl/WS_TUXSRV_ALE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opWtcAle"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TIPO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opWtcAleResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DESCRIZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opWtcAleRequest"> 
  <wsdl:part element="eb:opWtcAle" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opWtcAleResponse"> 
  <wsdl:part element="eb:opWtcAleResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TUXSRV_ALESoap"> 
  <wsdl:operation name="opWtcAle"> 
   <wsdl:input message="eb:opWtcAleRequest" name="opWtcAleRequest" /> 
   <wsdl:output message="eb:opWtcAleResponse" name="opWtcAleResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TUXSRV_ALESoap" type="eb:WS_TUXSRV_ALESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opWtcAle"> 
   <soap:operation soapAction="WS_TUXSRV_ALE/opWtcAle" style="document" /> 
   <wsdl:input name="opWtcAleRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opWtcAleResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TUXSRV_ALE"> 
  <wsdl:port binding="eb:WS_TUXSRV_ALESoap" name="WS_TUXSRV_ALESoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_TUXSRV_ALE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>