esb_am/repo/WS_SCMS_EXECUTE_CMPDTR/wsdl/WS_SCMS_EXECUTE_CMPDTR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestCMPDTR"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="skyid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="devicetrialid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="deviceid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="deviceuuid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="devicetype" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseCMPDTR"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCMPDTR"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCMPDTR" type="eb:requestCMPDTR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCMPDTRResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCMPDTR" type="eb:responseCMPDTR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCMPDTRRequest"> 
  <wsdl:part element="eb:opCMPDTR" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCMPDTRResponse"> 
  <wsdl:part element="eb:opCMPDTRResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_CMPDTRSoap"> 
  <wsdl:operation name="opCMPDTR"> 
   <wsdl:input message="eb:opCMPDTRRequest" name="opCMPDTRRequest" /> 
   <wsdl:output message="eb:opCMPDTRResponse" name="opCMPDTRResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_CMPDTRSoap" type="eb:WS_SCMS_EXECUTE_CMPDTRSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCMPDTR"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_CMPDTR/opCMPDTR" style="document" /> 
   <wsdl:input name="opCMPDTRRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCMPDTRResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_CMPDTR"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_CMPDTRSoap" name="WS_SCMS_EXECUTE_CMPDTRSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_CMPDTR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>