esb_am/repo/RefreshEOW/wsdl/RefreshEOW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="EOW_REFRESH"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="EOW_REFRESHResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="EOW_REFRESHRequest"> 
  <wsdl:part element="eb:EOW_REFRESH" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="EOW_REFRESHResponse"> 
  <wsdl:part element="eb:EOW_REFRESHResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="RefreshEOWSoap"> 
  <wsdl:operation name="EOW_REFRESH"> 
   <wsdl:input message="eb:EOW_REFRESHRequest" name="EOW_REFRESHRequest" /> 
   <wsdl:output message="eb:EOW_REFRESHResponse" name="EOW_REFRESHResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="RefreshEOWSoap" type="eb:RefreshEOWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="EOW_REFRESH"> 
   <soap:operation soapAction="RefreshEOW/EOW_REFRESH" style="document" /> 
   <wsdl:input name="EOW_REFRESHRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="EOW_REFRESHResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="RefreshEOW"> 
  <wsdl:port binding="eb:RefreshEOWSoap" name="RefreshEOWSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/RefreshEOW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>