esb_am/repo/WS_CHECK_CF_DISMISS/wsdl/WS_CHECK_CF_DISMISS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opCHECK_CF"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_FISCALE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MILLISECOND_TIMEOUT_HTTP" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCHECK_CFResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCHECK_CFRequest"> 
  <wsdl:part element="eb:opCHECK_CF" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCHECK_CFResponse"> 
  <wsdl:part element="eb:opCHECK_CFResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CHECK_CF_DISMISSSoap"> 
  <wsdl:operation name="opCHECK_CF"> 
   <wsdl:input message="eb:opCHECK_CFRequest" name="opCHECK_CFRequest" /> 
   <wsdl:output message="eb:opCHECK_CFResponse" name="opCHECK_CFResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CHECK_CF_DISMISSSoap" type="eb:WS_CHECK_CF_DISMISSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCHECK_CF"> 
   <soap:operation soapAction="WS_CHECK_CF_DISMISS/opCHECK_CF" style="document" /> 
   <wsdl:input name="opCHECK_CFRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCHECK_CFResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CHECK_CF_DISMISS"> 
  <wsdl:port binding="eb:WS_CHECK_CF_DISMISSSoap" name="WS_CHECK_CF_DISMISSSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_CHECK_CF_DISMISS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>