esb_am/repo/WS_SCMS_EXECUTE_SAWUSR/wsdl/WS_SCMS_EXECUTE_SAWUSR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestSAWUSR"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="customerid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="unregister" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseSAWUSR"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSAWUSR"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestSAWUSR" type="eb:requestSAWUSR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSAWUSRResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseSAWUSR" type="eb:responseSAWUSR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSAWUSRRequest"> 
  <wsdl:part element="eb:opSAWUSR" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSAWUSRResponse"> 
  <wsdl:part element="eb:opSAWUSRResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_SAWUSRSoap"> 
  <wsdl:operation name="opSAWUSR"> 
   <wsdl:input message="eb:opSAWUSRRequest" name="opSAWUSRRequest" /> 
   <wsdl:output message="eb:opSAWUSRResponse" name="opSAWUSRResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_SAWUSRSoap" type="eb:WS_SCMS_EXECUTE_SAWUSRSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSAWUSR"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_SAWUSR/opSAWUSR" style="document" /> 
   <wsdl:input name="opSAWUSRRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSAWUSRResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_SAWUSR"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_SAWUSRSoap" name="WS_SCMS_EXECUTE_SAWUSRSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_SAWUSR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>