esb_am/repo/WS_IPTV_TRACCIAMENTO_GUASTO/wsdl/WS_IPTV_TRACCIAMENTO_GUASTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="WS_IPTV_TRACCIAMENTO_GUASTO"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="WS_IPTV_TRACCIAMENTO_GUASTOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="WS_IPTV_TRACCIAMENTO_GUASTORequest"> 
  <wsdl:part element="eb:WS_IPTV_TRACCIAMENTO_GUASTO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="WS_IPTV_TRACCIAMENTO_GUASTOResponse"> 
  <wsdl:part element="eb:WS_IPTV_TRACCIAMENTO_GUASTOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IPTV_TRACCIAMENTO_GUASTOSoap"> 
  <wsdl:operation name="WS_IPTV_TRACCIAMENTO_GUASTO"> 
   <wsdl:input message="eb:WS_IPTV_TRACCIAMENTO_GUASTORequest" name="WS_IPTV_TRACCIAMENTO_GUASTORequest" /> 
   <wsdl:output message="eb:WS_IPTV_TRACCIAMENTO_GUASTOResponse" name="WS_IPTV_TRACCIAMENTO_GUASTOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IPTV_TRACCIAMENTO_GUASTOSoap" type="eb:WS_IPTV_TRACCIAMENTO_GUASTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="WS_IPTV_TRACCIAMENTO_GUASTO"> 
   <soap:operation soapAction="WS_IPTV_TRACCIAMENTO_GUASTO/WS_IPTV_TRACCIAMENTO_GUASTO" style="document" /> 
   <wsdl:input name="WS_IPTV_TRACCIAMENTO_GUASTORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="WS_IPTV_TRACCIAMENTO_GUASTOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IPTV_TRACCIAMENTO_GUASTO"> 
  <wsdl:port binding="eb:WS_IPTV_TRACCIAMENTO_GUASTOSoap" name="WS_IPTV_TRACCIAMENTO_GUASTOSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_iptv/WS_IPTV_TRACCIAMENTO_GUASTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>