esb_am/repo/WS_SCMS_MTFS_ACVCDC_SP/wsdl/WS_SCMS_MTFS_ACVCDC_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestACVCDC"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="numero_cdc" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="contratto" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="scadenza_cdc" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseACVCDC"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="voucher" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="voucherserial" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opACVCDC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestACVCDC" type="eb:requestACVCDC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opACVCDCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseACVCDC" type="eb:responseACVCDC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opACVCDCRequest"> 
  <wsdl:part element="eb:opACVCDC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opACVCDCResponse"> 
  <wsdl:part element="eb:opACVCDCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_MTFS_ACVCDC_SPSoap"> 
  <wsdl:operation name="opACVCDC"> 
   <wsdl:input message="eb:opACVCDCRequest" name="opACVCDCRequest" /> 
   <wsdl:output message="eb:opACVCDCResponse" name="opACVCDCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_MTFS_ACVCDC_SPSoap" type="eb:WS_SCMS_MTFS_ACVCDC_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opACVCDC"> 
   <soap:operation soapAction="WS_SCMS_MTFS_ACVCDC_SP/opACVCDC" style="document" /> 
   <wsdl:input name="opACVCDCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opACVCDCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_MTFS_ACVCDC_SP"> 
  <wsdl:port binding="eb:WS_SCMS_MTFS_ACVCDC_SPSoap" name="WS_SCMS_MTFS_ACVCDC_SPSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_MTFS_ACVCDC_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>