esb_am/repo/WS_SCMS_EXECUTE_RSTSUB/wsdl/WS_SCMS_EXECUTE_RSTSUB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestRSTSUB"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="box" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="stbkind" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseRSTSUB"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRSTSUB"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestRSTSUB" type="eb:requestRSTSUB" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRSTSUBResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseRSTSUB" type="eb:responseRSTSUB" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRSTSUBRequest"> 
  <wsdl:part element="eb:opRSTSUB" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRSTSUBResponse"> 
  <wsdl:part element="eb:opRSTSUBResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_RSTSUBSoap"> 
  <wsdl:operation name="opRSTSUB"> 
   <wsdl:input message="eb:opRSTSUBRequest" name="opRSTSUBRequest" /> 
   <wsdl:output message="eb:opRSTSUBResponse" name="opRSTSUBResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_RSTSUBSoap" type="eb:WS_SCMS_EXECUTE_RSTSUBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRSTSUB"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_RSTSUB/opRSTSUB" style="document" /> 
   <wsdl:input name="opRSTSUBRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRSTSUBResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_RSTSUB"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_RSTSUBSoap" name="WS_SCMS_EXECUTE_RSTSUBSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_RSTSUB" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>