esb_am/repo/IsEnabledTP/wsdl/IsEnabledTP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="IS_ENABLED_TP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_AUTHOCODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TP_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="IS_ENABLED_TPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ENABLED" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="IS_ENABLED_TPRequest"> 
  <wsdl:part element="eb:IS_ENABLED_TP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="IS_ENABLED_TPResponse"> 
  <wsdl:part element="eb:IS_ENABLED_TPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="IsEnabledTPSoap"> 
  <wsdl:operation name="IS_ENABLED_TP"> 
   <wsdl:input message="eb:IS_ENABLED_TPRequest" name="IS_ENABLED_TPRequest" /> 
   <wsdl:output message="eb:IS_ENABLED_TPResponse" name="IS_ENABLED_TPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="IsEnabledTPSoap" type="eb:IsEnabledTPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="IS_ENABLED_TP"> 
   <soap:operation soapAction="IsEnabledTP/IS_ENABLED_TP" style="document" /> 
   <wsdl:input name="IS_ENABLED_TPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="IS_ENABLED_TPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="IsEnabledTP"> 
  <wsdl:port binding="eb:IsEnabledTPSoap" name="IsEnabledTPSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/IsEnabledTP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>