esb_am/repo/WS_HTL_GESTIONE_FLAG_SMC/wsdl/WS_HTL_GESTIONE_FLAG_SMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpGestioneFlagSMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_ABILITAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpGestioneFlagSMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpGestioneFlagSMCRequest"> 
  <wsdl:part element="eb:OpGestioneFlagSMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpGestioneFlagSMCResponse"> 
  <wsdl:part element="eb:OpGestioneFlagSMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_GESTIONE_FLAG_SMCSoap"> 
  <wsdl:operation name="OpGestioneFlagSMC"> 
   <wsdl:input message="eb:OpGestioneFlagSMCRequest" name="OpGestioneFlagSMCRequest" /> 
   <wsdl:output message="eb:OpGestioneFlagSMCResponse" name="OpGestioneFlagSMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_GESTIONE_FLAG_SMCSoap" type="eb:WS_HTL_GESTIONE_FLAG_SMCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpGestioneFlagSMC"> 
   <soap:operation soapAction="WS_HTL_GESTIONE_FLAG_SMC/OpGestioneFlagSMC" style="document" /> 
   <wsdl:input name="OpGestioneFlagSMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpGestioneFlagSMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_GESTIONE_FLAG_SMC"> 
  <wsdl:port binding="eb:WS_HTL_GESTIONE_FLAG_SMCSoap" name="WS_HTL_GESTIONE_FLAG_SMCSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_HTL_GESTIONE_FLAG_SMC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>