esb_am/repo/WS_IPTV_CONFIRM_SKY_PDA/wsdl/WS_IPTV_CONFIRM_SKY_PDA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="ConfirmSkyPdaResponseBean"> 
    <xsd:sequence> 
     <xsd:element name="errorCode" nillable="true" type="xsd:string" /> 
     <xsd:element name="errorMsg" nillable="true" type="xsd:string" /> 
     <xsd:element name="urlRedirect" nillable="true" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="SIEBEL_FW_OPERATION"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="idSkyFw" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="pdaStatus" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="clusterSky" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="urlPda" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="urlContract" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CategoriaContratto" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="SIEBEL_FW_OPERATIONResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:ConfirmSkyPdaResponseBean" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="SIEBEL_FW_OPERATIONRequest"> 
  <wsdl:part element="eb:SIEBEL_FW_OPERATION" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="SIEBEL_FW_OPERATIONResponse"> 
  <wsdl:part element="eb:SIEBEL_FW_OPERATIONResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IPTV_CONFIRM_SKY_PDASoap"> 
  <wsdl:operation name="SIEBEL_FW_OPERATION"> 
   <wsdl:input message="eb:SIEBEL_FW_OPERATIONRequest" name="SIEBEL_FW_OPERATIONRequest" /> 
   <wsdl:output message="eb:SIEBEL_FW_OPERATIONResponse" name="SIEBEL_FW_OPERATIONResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IPTV_CONFIRM_SKY_PDASoap" type="eb:WS_IPTV_CONFIRM_SKY_PDASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="SIEBEL_FW_OPERATION"> 
   <soap:operation soapAction="WS_IPTV_CONFIRM_SKY_PDA/SIEBEL_FW_OPERATION" style="document" /> 
   <wsdl:input name="SIEBEL_FW_OPERATIONRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="SIEBEL_FW_OPERATIONResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IPTV_CONFIRM_SKY_PDA"> 
  <wsdl:port binding="eb:WS_IPTV_CONFIRM_SKY_PDASoap" name="WS_IPTV_CONFIRM_SKY_PDASoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_IPTV_CONFIRM_SKY_PDA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>