esb_am/repo/TOUPPER/wsdl/TOUPPER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="toupper"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="str" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="toupperResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="stringaInMaiuscolo" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="toupperRequest"> 
  <wsdl:part element="eb:toupper" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="toupperResponse"> 
  <wsdl:part element="eb:toupperResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="TOUPPERSoap"> 
  <wsdl:operation name="toupper"> 
   <wsdl:input message="eb:toupperRequest" name="toupperRequest" /> 
   <wsdl:output message="eb:toupperResponse" name="toupperResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="TOUPPERSoap" type="eb:TOUPPERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="toupper"> 
   <soap:operation soapAction="TOUPPER/toupper" style="document" /> 
   <wsdl:input name="toupperRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="toupperResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="TOUPPER"> 
  <wsdl:port binding="eb:TOUPPERSoap" name="TOUPPERSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/TOUPPER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>