esb_am/repo/WS_SF_SBL_STAMPA_CONTRATTO/xsd/SkyXSD_SF_SBL_STAMPA_CONTRATTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eb="http://www.reply.it/existbus" targetNamespace="http://www.reply.it/existbus" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:complexType name="COMPLEX_INPUT"> 
  <xsd:sequence> 
   <xsd:element name="xmlContratto" type="xsd:string"> 
   </xsd:element> 
   <xsd:element name="fileName" type="xsd:string"> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>