esb_am/repo/WS_TELECOM_ACQUISTO_STB/wsdl/WS_TELECOM_ACQUISTO_STB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="SIEBEL_ADP_OPERATION"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DataOrderEntryCliente" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodicePromozione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="RowIdSolution" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceAmbito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ClusterIPTV" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Nome" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Cognome" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceFiscale" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="NumeroTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="AltroTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RateCodePacchetto" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ParticellaToponomasticaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StradaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CivicoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CAPU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ProvinciaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CittaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="PianoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="InternoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ScalaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TestInternoSKY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TimeStamp" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="EventId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="SIEBEL_ADP_OPERATIONResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceAccount" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONRequest"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATION" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONResponse"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATIONResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TELECOM_ACQUISTO_STBSoap"> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <wsdl:input message="eb:SIEBEL_ADP_OPERATIONRequest" name="SIEBEL_ADP_OPERATIONRequest" /> 
   <wsdl:output message="eb:SIEBEL_ADP_OPERATIONResponse" name="SIEBEL_ADP_OPERATIONResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TELECOM_ACQUISTO_STBSoap" type="eb:WS_TELECOM_ACQUISTO_STBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <soap:operation soapAction="WS_TELECOM_ACQUISTO_STB/SIEBEL_ADP_OPERATION" style="document" /> 
   <wsdl:input name="SIEBEL_ADP_OPERATIONRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="SIEBEL_ADP_OPERATIONResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TELECOM_ACQUISTO_STB"> 
  <wsdl:port binding="eb:WS_TELECOM_ACQUISTO_STBSoap" name="WS_TELECOM_ACQUISTO_STBSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_iptv_telecom/WS_TELECOM_ACQUISTO_STB" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>