esb_am/repo/WS_IVR_OLIVIA_BIT_DK/wsdl/WS_IVR_OLIVIA_BIT_DK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opVerificaBITDK"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaBITDKResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGestisciBITDK"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGestisciBITDKResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaBITDKRequest"> 
  <wsdl:part element="eb:opVerificaBITDK" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaBITDKResponse"> 
  <wsdl:part element="eb:opVerificaBITDKResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGestisciBITDKRequest"> 
  <wsdl:part element="eb:opGestisciBITDK" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGestisciBITDKResponse"> 
  <wsdl:part element="eb:opGestisciBITDKResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_OLIVIA_BIT_DKSoap"> 
  <wsdl:operation name="opVerificaBITDK"> 
   <wsdl:input message="eb:opVerificaBITDKRequest" name="opVerificaBITDKRequest" /> 
   <wsdl:output message="eb:opVerificaBITDKResponse" name="opVerificaBITDKResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opGestisciBITDK"> 
   <wsdl:input message="eb:opGestisciBITDKRequest" name="opGestisciBITDKRequest" /> 
   <wsdl:output message="eb:opGestisciBITDKResponse" name="opGestisciBITDKResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_OLIVIA_BIT_DKSoap" type="eb:WS_IVR_OLIVIA_BIT_DKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaBITDK"> 
   <soap:operation soapAction="WS_IVR_OLIVIA_BIT_DK/opVerificaBITDK" style="document" /> 
   <wsdl:input name="opVerificaBITDKRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaBITDKResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opGestisciBITDK"> 
   <soap:operation soapAction="WS_IVR_OLIVIA_BIT_DK/opGestisciBITDK" style="document" /> 
   <wsdl:input name="opGestisciBITDKRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGestisciBITDKResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_OLIVIA_BIT_DK"> 
  <wsdl:port binding="eb:WS_IVR_OLIVIA_BIT_DKSoap" name="WS_IVR_OLIVIA_BIT_DKSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_IVR_OLIVIA_BIT_DK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>