esb_am/repo/WS_SCMS_EXECUTE_REVOUC_SP/wsdl/WS_SCMS_EXECUTE_REVOUC_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestREVOUC"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="skypass" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="skypassserial" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="skypassnumcell" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseREVOUC"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="box" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="date" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="expiredate" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="purchasedate" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="skypass" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="credit" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="typeskypass" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="skypassserial" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="skypassnumcell" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="cardstatus" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="inwallet" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opREVOUC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestREVOUC" type="eb:requestREVOUC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opREVOUCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseREVOUC" type="eb:responseREVOUC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opREVOUCRequest"> 
  <wsdl:part element="eb:opREVOUC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opREVOUCResponse"> 
  <wsdl:part element="eb:opREVOUCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_REVOUC_SPSoap"> 
  <wsdl:operation name="opREVOUC"> 
   <wsdl:input message="eb:opREVOUCRequest" name="opREVOUCRequest" /> 
   <wsdl:output message="eb:opREVOUCResponse" name="opREVOUCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_REVOUC_SPSoap" type="eb:WS_SCMS_EXECUTE_REVOUC_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opREVOUC"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_REVOUC_SP/opREVOUC" style="document" /> 
   <wsdl:input name="opREVOUCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opREVOUCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_REVOUC_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_REVOUC_SPSoap" name="WS_SCMS_EXECUTE_REVOUC_SPSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_REVOUC_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>