esb_am/repo/WS_GETACCINFO_TP/wsdl/WS_GETACCINFO_TP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_GETACCINFO_TP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ACCOUNT_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_SMC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GETACCINFO_TPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OUT_CODICE_SMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OUT_ACCOUNT_NUMBER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GETACCINFO_TPRequest"> 
  <wsdl:part element="eb:OP_GETACCINFO_TP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GETACCINFO_TPResponse"> 
  <wsdl:part element="eb:OP_GETACCINFO_TPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GETACCINFO_TPSoap"> 
  <wsdl:operation name="OP_GETACCINFO_TP"> 
   <wsdl:input message="eb:OP_GETACCINFO_TPRequest" name="OP_GETACCINFO_TPRequest" /> 
   <wsdl:output message="eb:OP_GETACCINFO_TPResponse" name="OP_GETACCINFO_TPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GETACCINFO_TPSoap" type="eb:WS_GETACCINFO_TPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GETACCINFO_TP"> 
   <soap:operation soapAction="WS_GETACCINFO_TP/OP_GETACCINFO_TP" style="document" /> 
   <wsdl:input name="OP_GETACCINFO_TPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GETACCINFO_TPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GETACCINFO_TP"> 
  <wsdl:port binding="eb:WS_GETACCINFO_TPSoap" name="WS_GETACCINFO_TPSoap"> 
   <soap:address location="http://wscol.sky.it:9100/wsexistbus/ws_tp/WS_GETACCINFO_TP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>