esb_am/repo/DisableTP/wsdl/DisableTP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="DISABLE_TP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_AUTHOCODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TP_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="DISABLE_TPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="DISABLE_TPRequest"> 
  <wsdl:part element="eb:DISABLE_TP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="DISABLE_TPResponse"> 
  <wsdl:part element="eb:DISABLE_TPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="DisableTPSoap"> 
  <wsdl:operation name="DISABLE_TP"> 
   <wsdl:input message="eb:DISABLE_TPRequest" name="DISABLE_TPRequest" /> 
   <wsdl:output message="eb:DISABLE_TPResponse" name="DISABLE_TPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="DisableTPSoap" type="eb:DisableTPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="DISABLE_TP"> 
   <soap:operation soapAction="DisableTP/DISABLE_TP" style="document" /> 
   <wsdl:input name="DISABLE_TPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="DISABLE_TPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="DisableTP"> 
  <wsdl:port binding="eb:DisableTPSoap" name="DisableTPSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/DisableTP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>