esb_am/repo/WS_INVIO_ANNULLA/wsdl/WS_INVIO_ANNULLA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_PROGR_MANUT" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ERROR_DESCRIPTION" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_INVIO_ANNULLA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_MAGAZ" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_INVIO_ANNULLAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_INVIO_ANNULLARequest"> 
  <wsdl:part element="eb:OP_INVIO_ANNULLA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_INVIO_ANNULLAResponse"> 
  <wsdl:part element="eb:OP_INVIO_ANNULLAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_INVIO_ANNULLASoap"> 
  <wsdl:operation name="OP_INVIO_ANNULLA"> 
   <wsdl:input message="eb:OP_INVIO_ANNULLARequest" name="OP_INVIO_ANNULLARequest" /> 
   <wsdl:output message="eb:OP_INVIO_ANNULLAResponse" name="OP_INVIO_ANNULLAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_INVIO_ANNULLASoap" type="eb:WS_INVIO_ANNULLASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_INVIO_ANNULLA"> 
   <soap:operation soapAction="WS_INVIO_ANNULLA/OP_INVIO_ANNULLA" style="document" /> 
   <wsdl:input name="OP_INVIO_ANNULLARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_INVIO_ANNULLAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_INVIO_ANNULLA"> 
  <wsdl:port binding="eb:WS_INVIO_ANNULLASoap" name="WS_INVIO_ANNULLASoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_INVIO_ANNULLA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>