esb_am/repo/RefreshTP/wsdl/RefreshTP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="REFRESH_TP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TP_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="REFRESH_TPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="REFRESH_TPRequest"> 
  <wsdl:part element="eb:REFRESH_TP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="REFRESH_TPResponse"> 
  <wsdl:part element="eb:REFRESH_TPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="RefreshTPSoap"> 
  <wsdl:operation name="REFRESH_TP"> 
   <wsdl:input message="eb:REFRESH_TPRequest" name="REFRESH_TPRequest" /> 
   <wsdl:output message="eb:REFRESH_TPResponse" name="REFRESH_TPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="RefreshTPSoap" type="eb:RefreshTPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="REFRESH_TP"> 
   <soap:operation soapAction="RefreshTP/REFRESH_TP" style="document" /> 
   <wsdl:input name="REFRESH_TPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="REFRESH_TPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="RefreshTP"> 
  <wsdl:port binding="eb:RefreshTPSoap" name="RefreshTPSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/RefreshTP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>