esb_am/repo/WS_SELFCARE_PAGAMENTI/wsdl/WS_SELFCARE_PAGAMENTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="content"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="FATTURA" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ID" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="DATA" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="INCASSI" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="TYPE" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="DESCRIZIONE" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="DATA_FATTURA" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ID_B" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="DATA_T" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="DATA_S" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="List"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Event" type="eb:content" /> 
     <xsd:element name="id_esito" type="xsd:string" /> 
     <xsd:element name="descr_esito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="vbc_pagamenti"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="BILLING_ACCOUNT" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="vbc_pagamentiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Event_List" type="eb:List" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="vbc_pagamentiRequest"> 
  <wsdl:part element="eb:vbc_pagamenti" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="vbc_pagamentiResponse"> 
  <wsdl:part element="eb:vbc_pagamentiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SELFCARE_PAGAMENTISoap"> 
  <wsdl:operation name="vbc_pagamenti"> 
   <wsdl:input message="eb:vbc_pagamentiRequest" name="vbc_pagamentiRequest" /> 
   <wsdl:output message="eb:vbc_pagamentiResponse" name="vbc_pagamentiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SELFCARE_PAGAMENTISoap" type="eb:WS_SELFCARE_PAGAMENTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="vbc_pagamenti"> 
   <soap:operation soapAction="WS_SELFCARE_PAGAMENTI/vbc_pagamenti" style="document" /> 
   <wsdl:input name="vbc_pagamentiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="vbc_pagamentiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SELFCARE_PAGAMENTI"> 
  <wsdl:port binding="eb:WS_SELFCARE_PAGAMENTISoap" name="WS_SELFCARE_PAGAMENTISoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_selfcare/WS_SELFCARE_PAGAMENTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>