esb_am/repo/AttivaRicaricabileConSmc/wsdl/AttivaRicaricabileConSmc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opAttivaRicaricabileConSmc"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAttivaRicaricabileConSmcResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAttivaRicaricabileConSmcRequest"> 
  <wsdl:part element="eb:opAttivaRicaricabileConSmc" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAttivaRicaricabileConSmcResponse"> 
  <wsdl:part element="eb:opAttivaRicaricabileConSmcResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="AttivaRicaricabileConSmcSoap"> 
  <wsdl:operation name="opAttivaRicaricabileConSmc"> 
   <wsdl:input message="eb:opAttivaRicaricabileConSmcRequest" name="opAttivaRicaricabileConSmcRequest" /> 
   <wsdl:output message="eb:opAttivaRicaricabileConSmcResponse" name="opAttivaRicaricabileConSmcResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="AttivaRicaricabileConSmcSoap" type="eb:AttivaRicaricabileConSmcSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAttivaRicaricabileConSmc"> 
   <soap:operation soapAction="AttivaRicaricabileConSmc/opAttivaRicaricabileConSmc" style="document" /> 
   <wsdl:input name="opAttivaRicaricabileConSmcRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAttivaRicaricabileConSmcResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="AttivaRicaricabileConSmc"> 
  <wsdl:port binding="eb:AttivaRicaricabileConSmcSoap" name="AttivaRicaricabileConSmcSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/AttivaRicaricabileConSmc" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>