esb_am/repo/EnableEOW/wsdl/EnableEOW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="EOW_UPDATE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANS_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="EOW_UPDATEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RESULT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIPTION" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="EOW_UPDATERequest"> 
  <wsdl:part element="eb:EOW_UPDATE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="EOW_UPDATEResponse"> 
  <wsdl:part element="eb:EOW_UPDATEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="EnableEOWSoap"> 
  <wsdl:operation name="EOW_UPDATE"> 
   <wsdl:input message="eb:EOW_UPDATERequest" name="EOW_UPDATERequest" /> 
   <wsdl:output message="eb:EOW_UPDATEResponse" name="EOW_UPDATEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="EnableEOWSoap" type="eb:EnableEOWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="EOW_UPDATE"> 
   <soap:operation soapAction="EnableEOW/EOW_UPDATE" style="document" /> 
   <wsdl:input name="EOW_UPDATERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="EOW_UPDATEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="EnableEOW"> 
  <wsdl:port binding="eb:EnableEOWSoap" name="EnableEOWSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/EnableEOW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>