esb_am/repo/WS_ScriviAttivaz/wsdl/WS_ScriviAttivaz.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="0" name="HTL_CODICE_UTENTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="HTL_CODICE_STANZA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="HTL_REF_ID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="HTL_STATO_HOTEL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="ScriviAttivaz"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ScriviAttivazResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ScriviAttivazRequest"> 
  <wsdl:part element="eb:ScriviAttivaz" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ScriviAttivazResponse"> 
  <wsdl:part element="eb:ScriviAttivazResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ScriviAttivazSoap"> 
  <wsdl:operation name="ScriviAttivaz"> 
   <wsdl:input message="eb:ScriviAttivazRequest" name="ScriviAttivazRequest" /> 
   <wsdl:output message="eb:ScriviAttivazResponse" name="ScriviAttivazResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ScriviAttivazSoap" type="eb:WS_ScriviAttivazSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ScriviAttivaz"> 
   <soap:operation soapAction="WS_ScriviAttivaz/ScriviAttivaz" style="document" /> 
   <wsdl:input name="ScriviAttivazRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ScriviAttivazResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ScriviAttivaz"> 
  <wsdl:port binding="eb:WS_ScriviAttivazSoap" name="WS_ScriviAttivazSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_ScriviAttivaz" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>