esb_am/repo/WS_SCMS_EXECUTE_ADDDEV/wsdl/WS_SCMS_EXECUTE_ADDDEV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestADDDEV"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="flagsync" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="clientid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="operator" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="idcaller" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="typesrvreq" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="customerid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="deviceid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="devicetype" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="devicefriendlyname" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseADDDEV"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="descriptionerr" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="transid" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opADDDEV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestADDDEV" type="eb:requestADDDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opADDDEVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseADDDEV" type="eb:responseADDDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opADDDEVRequest"> 
  <wsdl:part element="eb:opADDDEV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opADDDEVResponse"> 
  <wsdl:part element="eb:opADDDEVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_ADDDEVSoap"> 
  <wsdl:operation name="opADDDEV"> 
   <wsdl:input message="eb:opADDDEVRequest" name="opADDDEVRequest" /> 
   <wsdl:output message="eb:opADDDEVResponse" name="opADDDEVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_ADDDEVSoap" type="eb:WS_SCMS_EXECUTE_ADDDEVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opADDDEV"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_ADDDEV/opADDDEV" style="document" /> 
   <wsdl:input name="opADDDEVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opADDDEVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_ADDDEV"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_ADDDEVSoap" name="WS_SCMS_EXECUTE_ADDDEVSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_ADDDEV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>