esb_am/repo/WS_CHECK_PIVA_DISMISS/wsdl/WS_CHECK_PIVA_DISMISS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opCHECK_PIVA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PIVA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MILLISECOND_TIMEOUT_HTTP" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCHECK_PIVAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DATA_PIVA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCHECK_PIVARequest"> 
  <wsdl:part element="eb:opCHECK_PIVA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCHECK_PIVAResponse"> 
  <wsdl:part element="eb:opCHECK_PIVAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CHECK_PIVA_DISMISSSoap"> 
  <wsdl:operation name="opCHECK_PIVA"> 
   <wsdl:input message="eb:opCHECK_PIVARequest" name="opCHECK_PIVARequest" /> 
   <wsdl:output message="eb:opCHECK_PIVAResponse" name="opCHECK_PIVAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CHECK_PIVA_DISMISSSoap" type="eb:WS_CHECK_PIVA_DISMISSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCHECK_PIVA"> 
   <soap:operation soapAction="WS_CHECK_PIVA_DISMISS/opCHECK_PIVA" style="document" /> 
   <wsdl:input name="opCHECK_PIVARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCHECK_PIVAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CHECK_PIVA_DISMISS"> 
  <wsdl:port binding="eb:WS_CHECK_PIVA_DISMISSSoap" name="WS_CHECK_PIVA_DISMISSSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_CHECK_PIVA_DISMISS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>