esb_am/repo/WS_TEST_RENEWAL/wsdl/WS_TEST_RENEWAL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="TestComplex"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_1" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_2" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_3" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_4" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_5" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_6" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_7" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_8" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_9" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_10" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_11" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_12" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_13" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_14" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_15" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_16" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_17" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_18" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_19" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_20" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_21" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_22" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_23" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_24" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_25" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_26" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_27" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_28" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_29" type="xsd:string" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_30" type="xsd:string" /> 
     <xsd:element name="TestComplexOutput2"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A1" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A2" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A3" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A4" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A5" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A6" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A7" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A8" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A9" type="xsd:string" /> 
        <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_A10" type="xsd:string" /> 
        <xsd:element name="TestComplexOutput3"> 
         <xsd:complexType> 
          <xsd:sequence> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B1" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B2" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B3" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B4" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B5" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B6" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B7" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B8" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B9" type="xsd:string" /> 
           <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_B10" type="xsd:string" /> 
           <xsd:element name="TestComplexOutput4"> 
            <xsd:complexType> 
             <xsd:sequence> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C1" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C2" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C3" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C4" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C5" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C6" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C7" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C8" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C9" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_C10" type="xsd:string" /> 
             </xsd:sequence> 
            </xsd:complexType> 
           </xsd:element> 
           <xsd:element name="TestComplexOutput5"> 
            <xsd:complexType> 
             <xsd:sequence> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D1" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D2" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D3" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D4" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D5" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D6" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D7" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D8" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D9" type="xsd:string" /> 
              <xsd:element maxOccurs="1" minOccurs="1" name="STRINGA_D10" type="xsd:string" /> 
             </xsd:sequence> 
            </xsd:complexType> 
           </xsd:element> 
          </xsd:sequence> 
         </xsd:complexType> 
        </xsd:element> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opTest"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:TestComplex" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opTestResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:TestComplex" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opTestRequest"> 
  <wsdl:part element="eb:opTest" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opTestResponse"> 
  <wsdl:part element="eb:opTestResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TEST_RENEWALSoap"> 
  <wsdl:operation name="opTest"> 
   <wsdl:input message="eb:opTestRequest" name="opTestRequest" /> 
   <wsdl:output message="eb:opTestResponse" name="opTestResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TEST_RENEWALSoap" type="eb:WS_TEST_RENEWALSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opTest"> 
   <soap:operation soapAction="WS_TEST_RENEWAL/opTest" style="document" /> 
   <wsdl:input name="opTestRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opTestResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TEST_RENEWAL"> 
  <wsdl:port binding="eb:WS_TEST_RENEWALSoap" name="WS_TEST_RENEWALSoap"> 
   <soap:address location="http://CAMBIAMI-AM:9100/wsexistbus/openws/WS_TEST_RENEWAL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>